<% content_for :title do %>
  Raffles
<% end %>

<div class="page-header">
  <h1>Raffles</h1>
  <%= link_to new_raffle_path, class: 'btn btn-primary' do %>
    <%= icon 'fas', 'plus' %>
    Novo Raffle
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th>Raffle type</th>
        <th>Title</th>
        <th>Description</th>
        <th>Raffle date</th>
        <th>Init date</th>
        <th>Final date</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @raffles.each do |raffle| %>
        <tr>
          <td><%= raffle.username %></td>
          <td><%= raffle.raffle_type %></td>
          <td><%= raffle.title %></td>
          <td><%= raffle.description %></td>
          <td><%= raffle.raffle_date %></td>
          <td><%= raffle.init_date %></td>
          <td><%= raffle.final_date %></td>
          <td><%= raffle.value %></td>
          <td>
            <%= link_to raffle, class: 'btn btn-info btn-sm' do %>
              <%= icon 'fas', 'eye', class: 'fa-fw' %>
            <% end %>
            <%= link_to edit_raffle_path(raffle), class: 'btn btn-success btn-sm' do %>
              <%= icon 'fas', 'edit', class: 'fa-fw' %>
            <% end %>
            <%= link_to raffle, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' do %>
              <%= icon 'fas', 'times', class: 'fa-fw' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>