<% content_for :title do %>
  Detalhes de Award
<% end %>

<div class="page-header">
  <h1>Detalhes de Award</h1>
  <div>
    <%= link_to edit_award_path(@award), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Editar
    <% end %>
    <%= link_to awards_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Raffle:</dt>
  <dd><%= @award.raffle %></dd>

  <dt>Description:</dt>
  <dd><%= @award.description %></dd>

  <dt>Position:</dt>
  <dd><%= @award.position %></dd>

  <dt>Ticket:</dt>
  <dd><%= @award.ticket %></dd>

</dl>
